<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="dt-stack">
    <link href="<%= htmlWebpackPlugin.options.assets.favicon %>" type="image/x-icon" rel="icon">
    <link href="<%= htmlWebpackPlugin.options.assets.favicon %>" type="image/x-icon" rel="icon shotcut">
    <title><%= htmlWebpackPlugin.options.assets.title %></title>
  </head>
  <body class="main-body">
    <div id="craw-root-container" style="height: 100%">

    </div>
  
  </body>
</html>